name: Build and Publish Image

on:
  push:
    branches: [ main ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
        contents: read
        packages: write
        
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Push Docker image
      run: docker push ghcr.io/${{ github.repository }}/api:latest

    - name: Push Docker tagged image
      run: docker push ghcr.io/${{ github.repository }}/api:${{github.sha}}


